body{
    max-width: 1024px;
    margin: 20px auto;
    background-image: url(./img/background\ 1.JPG);
    background-repeat: repeat;
    background-size: contain;
}
ul{
    padding: 0;
    margin: 20px 0;
    text-align: center;
}
/* Menú a un costat */
ul li{
    display: inline-block;
    border: 3px solid crimson;
    border-radius: 3px;
    margin-right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
/* Links de menú sense "punts" de llista */
ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}
div{
    margin: 0 0 3em 0;
}
div.fl{
    display: flex;
}
h1, h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: wheat;
    margin: 0 0 20px 0;
}
h1{
    font-size: 6em;
    text-align: center;
    letter-spacing: 8px;
}
h3{
    background-color: crimson;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}
img.sideleft{
    float: left;
    height: 400px;
}
img.sideright{
    float: right;
    height: 400px;
}