*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 3em auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div{
    margin: 1em auto;
}
.form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}
.enL{
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    border-color: darkolivegreen;
    border-style: solid;
}
button{
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(55, 73, 24);
    /* color: darkolivegreen; */
    background-color: yellowgreen;
    /* background-color: greenyellow; */
    /* background-color: palegreen; */
    border-color: rgb(55, 73, 24);
    border-style: solid;
    border-radius: 8px;
}
select{
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    border-color: darkolivegreen;
    border-style: solid;
}
h3{
    margin: 1em 0;
    color: rgb(55, 73, 24);
}